# .clang-tidy
Checks: 'google-*, modernize-*, readability-*, performance-*, cppcoreguidelines-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '2'
  - key: google-readability-braces-around-statements.ShortStatementLines
    value: '2'
