{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>
    .home-page {
        display: flex;
        align-items: center;
        height: 80vh;
        justify-content: space-around;
    }

    .home-scene {
        --size: 400px;
        --half_size: 200px;
        width: var(--size);
        height: var(--size);
        perspective: 800px
    }

    .home-cube {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        animation: home-rotate 30s infinite linear
    }

    .home-cube div {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid {{ palette.accent }}
    }

    /* @formatter:off */
    .home-front  { transform:                 translateZ(var(--half_size)) }
    .home-back   { transform: rotateY(180deg) translateZ(var(--half_size)) }
    .home-right  { transform: rotateY(90deg)  translateZ(var(--half_size)) }
    .home-left   { transform: rotateY(-90deg) translateZ(var(--half_size)) }
    .home-top    { transform: rotateX(90deg)  translateZ(var(--half_size)) }
    .home-bottom { transform: rotateX(-90deg) translateZ(var(--half_size)) }
    /* @formatter:on */

    @keyframes home-rotate {
        to {
            transform: rotateX(360deg) rotateY(360deg)
        }
    }

    @media (max-width: 1000px) {
        .home-scene {
            display: none;
        }
    }

    .md-content {
        display: none;
    }

    .md-footer {
        display: none;
    }

    @media (max-width: 800px) {
        .home-page {
            display: none;
        }

        .md-footer {
            display: initial;
        }

        .md-content {
            display: initial;
        }
    }
</style>

<section>
    <div class="md-grid md-typeset home-page">
        <div class="home-text">
            <h1>Easy tejoy-compatible messengers</h1>
            <p>{{ config.site_description }}</p>
            <a
                    href="{{ page.next_page.url | url }}"
                    title="{{ page.next_page.title | e }}"
                    class="md-button md-button--primary"
            >
                Quick start
            </a>
            <a
                    href="{{ config.repo_url | url }}"
                    title="GitHub"
                    class="md-button"
                    style="margin-left: 10px"
            >
                Source repository
            </a>
        </div>

        <div class="home-scene">
            <div class="home-cube">
                <div class="home-front"></div>
                <div class="home-back"></div>
                <div class="home-right"></div>
                <div class="home-left"></div>
                <div class="home-top"></div>
                <div class="home-bottom"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Content -->
{% block content %}{{ super() }}{% endblock %}

<!-- Application footer -->
{% block footer %}{{ super() }}{% endblock %}
